@font-face{
   font-family: 'poppins';
   src: url('../fonts/Poppins-Regular.ttf');
}
body {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   font-family: 'poppins', sans-serif;
}
::-webkit-scrollbar{
   width: 5px;
}
::-webkit-scrollbar-thumb{
   width: 5px;
   background: #ffffff;
}

i {
   color: rgb(209, 209, 209);
   font-size: 20px;
}
a {
   color: rgb(228, 228, 228);
   text-decoration: none;
   transition: 0.3s;
}
a:hover, i:hover {
   color: #ffffff;
   transition: 0.1s;
}

.navbar {
   color: #ffffff;
   height: 60px;
   background-color: #0068cf;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: fixed;
   top: 0px;
   width: 100%;
   z-index: 1;
}
.logo, .menu-toggle{
   margin: 0px 20px;
}
.login-btn{
   font-weight: bold;
   border-radius: 5px;
   padding: 10px;
   border: 1px solid #ffffff;
}
.login-btn:hover{
   background-color: #ffffff;
   color:  #6200ff;
}
.sidebar{
   display: flex;
}
.sidebar a i{
   display: none;
}
.logout-btn{
   display: none;
}
.sidebar a {
   margin: 0px 05px;
}
.overlay{
   position: fixed;
   top: 0px;
   bottom: 0px;
   left: 0px;
   right: 0px;
   background: rgba(0, 0, 0, 0.8);
   transition: 0.2s;
   z-index: 5;
}
#notice{
   display: none;
   transition: 1s zoom-in;
}
.notice{
   background: #ffffff;
   border-radius: 10px; 
   position: absolute;
   width: 60vw;
   padding: 20px;
   left: 50%;
   top: 50%;
   display: block;
   transform: translate(-50%, -50%);
   text-align: justify;
   z-index: 10;
   transition: 0.3s ease;
}
.btns{
   display: block;
   text-align: center;
   width: 100%;
}
.ok-btn, .cancel-btn{
   padding: 10px 20px;
   display: block;
   border-radius: 5px;
}
.user{
   display: none;
}
.menu-toggle{
   display: none;
}




/*---------for mobile devices-----------*/
@media only screen and (max-width:965px) {
   .sidebar{
      position: fixed;
      height: 100vh;
      width: 300px;
      top: 0px;
      left: -100%;
      background: #48009b;
      display: flex;
      flex-direction: column;
      overflow: scroll;
      transition: 0.3s;
   }
   .sidebar a i{
      display: inline-block;
      margin-right: 5px;
   }
   .sidebar a{
      margin: 5px 10px;
   }
   .user{
      display: inline-block;
      text-align: center;
   }
   .x-btn{
      position: absolute;
      top: 10px;
      right: 10px;
   }
   .user-action{
      margin: 20px 0px;
      text-align: center;

   }
   .menu{
      display: flex;
      flex-direction: column;
   }
   .menu-toggle{
      display: inline-block; 
   }
   .show-sidebar{
      left: 0px;
   }
}
