@font-face {
   font-family: 'poppins-reg';
   src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
   font-family: 'poppins-EB';
   src: url('../fonts/Poppins-SemiBold.ttf');
}

.fa,
.fas,
.fab,
far {
   font-weight: 900 !important;
   font-size: 20px;
}

body {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   font-family: 'poppins-reg', sans-serif;
}

::-webkit-scrollbar {
   width: 5px;
}

::-webkit-scrollbar-thumb {
   width: 5px;
   background: #ffffff;
}

i {
   color: #ffffff;
   font-size: 20px;
}

a {
   color: #ffffff;
   text-decoration: none;
}

.logo {
   font-family: 'poppins-EB'sans-serif;
   font-weight: 900;
}

.navbar {
   color: #ffffff;
   height: 60px;
   background-color: #0068cf;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: fixed;
   top: 0px;
   width: 100%;
   z-index: 1;
}
.menu-toggle,
.account {
   padding: 20px;
}

.sidebar {
   height: 100vh;
   width: 300px;
   background: #1A004F;
   position: fixed;
   top: 0px;
   left: -100%;
   overflow: auto;
   z-index: 10;
   display: flex;
   flex-direction: column;
   color: #fff;
   transition: 0.3s;
}

.show-sidebar {
   left: 0px;
}

.overlay {
   position: fixed;
   top: 0px;
   bottom: 0px;
   left: 0px;
   right: 0px;
   background: rgba(0, 0, 0, 0.5);
   transition: 0.2s;
   z-index: 5;
}

.x-btn {
   margin: 10px;
   position: absolute;
   right: 0px;
   top: 0px;
}

.user-info {
   align-items: center;
   display: flex;
   flex-direction: column;
}

.user-avtar {
   height: 100px;
   width: 100px;
   padding: 2px;
   margin: 10px;
   border: 2px solid aliceblue;
   border-radius: 50%;
}

.options {
   margin: 0px 20px;
   display: flex;
   flex-direction: column;
}

.nav-items {
   padding: 10px;
}

.content {
   padding: 0px 5px;
   margin-top: 65px;
   text-align: justify;
   overflow-y: auto;
}

.inps {
   position: relative;
   align-items: center;
}

.inps input {
   padding: 15px;
   margin-top: 10px;
   width: calc(100% - 32px);
   border-radius: 5px;
   border: 1px solid #DCDCDC;
   outline: none;
   transition: 0.2s;
}

.placeholder {
   position: absolute;
   font-size: 15px;
   color: #9C9C9C;
   left: 20px;
   top: 23px;
   pointer-events: none;
   transition: 0.2s;
}
span[data="red"]{
   color: #FF3F76;
}
span[data="green"]{
   color: #0DCE3F;
}
span[data="blue"]{
   color: #004FFF;
}
span[data="grey"]{
   color: #737373;
}
.hint {
   position: absolute;
   right: 20px;
   top: 24px;
}

.inps input:focus,
.inps input:valid {
   border: 2px solid #5462FF;
   width: calc(100% - 34px);
   padding: 14px;
}

.inps input:focus+.placeholder,
.inps input:valid+.placeholder {
   font-size: 12px;
   color: #5462FF;
   background: #FFFFFF;
   padding: 0px 5px;
   left: 15px;
   font-weight: bold;
   top: 4px;
}

.forms {
   position: absolute;
   width: 300px;
   padding: 20px;
   border: 1px solid #C4C4C4;
   border-radius: 20px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
}

.mt-05{
   margin-top: 5px;
}
.mt-10{
   margin-top: 10px;
}
.btn-block{
   width: 100%;
   height: 40px;
   outline: none;
   border: none;
   background: #7d5fff;
   border-radius: 5px;
   color: #ffffff;
   font-size: 20px;
}
.links{
   display: flex;
   justify-content: space-between;
}
.link{
   color: #0374FF;
   font-size: 12px;
}
.avtar{
   height: 100px;
   width: 100px;
   border-radius: 50%;
   position: relative;
   z-index: 200;
}