@font-face{
   font-family: 'poppins-reg';
   src: url('../fonts/Poppins-Regular.ttf');
}

@font-face{
   font-family: 'poppins-EB';
   src: url('../fonts/Poppins-SemiBold.ttf');
}
.fa, .fas, .fab, far{
   font-weight: 900 !important;
   font-size: 20px;
}

body {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   font-family: 'poppins-reg', sans-serif;
   background: #D5D5D5;
}
::-webkit-scrollbar{
   width: 5px;
}
::-webkit-scrollbar-thumb{
   width: 5px;
   background: #ffffff;
}

i {
   color: #ffffff;
   font-size: 20px;
}
a {
   color: #ffffff;
   text-decoration: none;
}
.logo{
   font-family: 'poppins-EB' sans-serif;
   font-weight: 900;
}
.navbar {
   color: #ffffff;
   height: 60px;
   background-color: #0068cf;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: fixed;
   top: 0px;
   width: 100%;
   z-index: 1;
   /* display: none; */
}
.menu-toggle, .account{
   padding: 20px;
}
.sidebar{
   height: 100vh;
   width: 300px;
   background: #1A004F;
   position: fixed;
   top: 0px;
   left: -100%;
   overflow: auto;
   z-index: 10;
   display: flex;
   flex-direction: column;
   color: #fff;
   transition: 0.3s;
}
.show-sidebar{
   left: 0px;
}
.overlay{
   position: fixed;
   top: 0px;
   bottom: 0px;
   left: 0px;
   right: 0px;
   background: rgba(0, 0, 0, 0.5);
   transition: 0.2s;
   z-index: 5;
}
.x-btn{
   margin: 10px;
   position: absolute;
   right: 0px;
   top: 0px;
}
.user-info{
   align-items: center;
   display: flex;
   flex-direction: column;
}
.user-avtar{
   height: 100px;
   width: 100px;
   padding: 2px;
   margin: 10px;
   border: 2px solid aliceblue;
   border-radius: 50%;
}
.options{
   margin: 0px 20px;
   display: flex;
   flex-direction: column;
}
.nav-items{
   padding: 10px;
}
.content{
  padding: 0px 5px;
  margin-top: 65px;
}
.inps {
 position: relative;
}
.inps input{
 margin-top: 10px;
 width: calc(100% - 35px);
 border-radius: 4px;
 border: 1px solid #006EFF;
 padding: 15px;
 outline: none;
}
.placeholder{
 position: absolute;
 font-size: 15px;
 top: 25px;
 left: 20px;
}
.hint{
 position: absolute;
 top: 25px;
 right: 20px;
 color: #FF6262;
}